body {
    background-color: blanchedalmond
}


/* LOGIN PAGE START */
.wrapper {
    width: 300px;
    height: 100px;
    margin: 200px auto;
    display: grid;
    text-align: center;
}

#taskListApplicationHeader {

    font-size: 30px;
    color: mediumslateblue;

}

#taskListIcon {
    font-size: 80px;
    color: purple;
}

#userSignSpan {
    font-size: 30px;
    color: black;
}

#username {
    border-radius: 7px;
}

#password {
    border-radius: 7px;
}


#signbutton {
    background-color: #7AF;
    border-radius: 30px;
    padding: 5px;
    color: white;
}

#logbutton {
    background-color: #7CA;
    border-radius: 30px;
    padding: 5px;
    color: white;
}

.loginLabels {
    text-align: initial;
    font-size: 14px;
    opacity: 0.5;
}

/* LOGIN PAGE END */

/* TASKS PAGE START */

#welcomeUserSpan {
    font-size: 40px;
    margin-bottom: 20px;
}

#inputTask {
    border-radius: 7px;
    margin-bottom: 10px;
}

#addTaskButton {
    background-color: #F77;
    border-radius: 30px;
    padding: 5px;
    color: white;
    margin-bottom: 10px;
}

#listTasksButton {
    background-color: #4A6;
    border-radius: 30px;
    padding: 5px;
    color: white;
}

#completedTaskCountSpan {
    margin-top: 40px;
}

#tasksSpan {
    margin-top: 20px;
    font-size: 30px;
}

#taskIconSpan {
    color: royalblue;
    font-size: 40px;
}

#taskList {
    list-style-type: decimal;
    text-align: initial
}

.taskListItem {
    padding: 10px;
}

#logOutButton {
    border-radius: 10px;
    color:white;
    background-color: black;
    padding: 15px;
    position: absolute;
    top: 10px;
    right: 10px;
}

.deleteTaskButton {
    color: red;
    background-color: blanchedalmond;
    border: 0px;
    float: right;
}

.completeTaskButton {
    color: green;
    background-color: blanchedalmond;
    border: 0px;
    float: right;
}

/* TASKS PAGE END */

/*ADMIN PAGE START*/

#usersSpan {
    font-size: 50px;
    color: royalblue;
}

#usersList {
    list-style-type: decimal;
    text-align: initial;
}

.usersListItem{
    padding: 10px;
}

/*ADMIN PAGE END*/