<div class="wrapper">
    <span>Completed Tasks</span>
    {{ember-chart type="bar" data=myCompletedTaskData options=myOptions id="mychart"}}

    <span id="usersSpan">USERS</span>
    <ul id="usersList">
    {{#each users as |user|}}
    <li class="usersListItem">{{user.name}} <button class="deleteTaskButton" {{action "deleteUser" user}}>{{fa-icon "times"}}</button></li> 
    {{/each}}
    </ul>

</div>
