
<div class="wrapper">
    <input id="username" type="text" placeholder="Username"> <br>
    <button {{action "signin"}} id="signbutton">Sign in</button> <br>
    <button {{action "login"}} id="logbutton">Log in</button> 
</div>