
<div class="wrapper">
    <label class="loginLabels">Username:</label>
    <input id="username" type="text" placeholder="Username"> <br>
    <label class="loginLabels">Password:</label>
    <input id="password" type="password" placeholder="****"> <br>
    <button {{action "signin"}} id="signbutton">Sign in</button> <br>
    <button {{action "login"}} id="logbutton">Log in</button> 
</div>