
<button id="logOutButton" {{action "logout"}}>Log Out</button>

<div class="wrapper">
    <input type="text" id="inputTask" placeholder="New Task">
    <button {{action "addNewTask"}} id="addTaskButton">Add Task</button>

        {{currentUser.username}}

        <span id="tasksSpan">Tasks</span>
    <ul id="taskList">
        {{#each myTasks as |task|}}
            <li class="taskListItem">{{task.content}}</li>
        {{/each}}

    </ul>
</div>